body{
background:linear-gradient(135deg,#2563eb,#7c3aed);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Poppins,sans-serif;
}

.login-container{
display:flex;
width:950px;
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.left-panel{
width:45%;
background:linear-gradient(135deg,#2563eb,#7c3aed);
color:white;
padding:50px;
}

.left-panel h1{
font-size:45px;
margin-bottom:25px;
}

.left-panel p{
margin-bottom:25px;
}

.left-panel li{
margin-bottom:15px;
list-style:none;
}

.right-panel{
width:55%;
padding:50px;
display:flex;
align-items:center;
justify-content:center;
}

.form-box{
width:100%;
}

.form-control{
margin-top:20px;
padding:14px;
}
.password-box{
position:relative;
}

.password-box i{
position:absolute;
right:15px;
top:35px;
cursor:pointer;
}

button{
padding:13px;
font-weight:600;
}

@media(max-width:768px){
.login-container{
flex-direction:column;
width:95%;
}
.left-panel,
.right-panel{
width:100%;
}
}